@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.interaction-span {
    color: #1f2933;
    font-style: italic;
    font-weight: bold;
}

.vr-card-paragraph {
    color: #7b8794;
    font-weight: 500;
}

.vr-card-head {
    color: #1f2933;
    font-size: 25px;
}

.vr-card-image {
    height: 60px;
    width: 60px;
}

.vr-card {
    background-color: white;
}

.vr-heading {
    color: #1f2933;
    font-size: 30px;
    font-weight: bold;
}